h1.myname {
	padding: 5px 5px 5px 50px;
	color: white;
	background: red;
	
}

h1.education {color: white;
	background: red;
}

h3.profile {color:red;}

nav a.navigation {padding-right: 5px;}


header p.cdetails { background: gray;
					font-family: calibri;
					color: white;
					padding: 3px;
				}
