body {
	font-family: 'Arial', sans-serif;
	background-color: #f3f3f3;
}

#wrapper {
	width: 80%;
	margin: 0 auto;
	background-color: #fff;
	padding: 32px;
	position: relative;

}

header {
	
	background-color: #59d5d8;
	height: 150px;
	padding: 4px;
	}

header h1 {
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	line-height: 50px;
}

header h2 {
	font-variant: small-caps;
	text-align: center;
	color: #fff;
}

.navigation {
	
	padding: 5px 4px 5px 4px;
	text-align: center;
	line-height: 32px;
	background-color: #818181;
	
}

.navigation li {
	border-right: 1px solid white;
	display: inline;
	padding: 0 10px 0 10px;
	font-size: 16px;
}

.navigation a {
	text-decoration: none;
	color: #fff;
	padding: 5px;
	font-variant: small-caps;
}

.navigation a:hover {
	color: #59d5d8;
}

.mypic {
	max-width: 100%;
	border-radius: 50%;
	float: left;
	margin-right: 10px;
}

.gradcap {
	float: right;
}

.hplogo {
	float: right;
}

.rclogo {
	float: right;
}

section h3 {
	color: #59d5d8;
}

section .desc  {
	color: black;
}

.info {
	text-align: left;
	margin-top: 20px;
}


.desc {
	clear: left;
	padding-top: 15px;
}

.job {
	

}

.job h3 {
	color: black;
}

footer {
	text-align: center;
	background-color: #59d5d8;
	height: 40px;
	padding: 2px;
}


/* Media Queries
--------------------------------------------------------------------------------------------
*/
/* IPhones */
@media only screen and (max-width: 600px) {
	
	.mypic {
		display: block;
		max-width: 100%;
		border-radius: 50%;
		float: none;
		margin-right: auto;
		margin-left: auto;
	}

	section.info {
		text-align: center;
		margin-top: 20px;

	}

	.desc {
		clear: left;
		padding-top: 5px;
	}
}